.behive-banner {
    display: flex;
}

.choose-us-content {
    display: flex;
    gap: 10px;
    align-items: anchor-center;
    height: 80px;
}

.our-space-card {
    height: 384px;
    width: 370px;
    border-radius: 8px;
    padding: 8px;
    border: 1.08px solid #EEE7E7CC;
}

.space-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distance-box {
    width: 52px;
    height: 52px;
    align-content: center;
    text-align: center;
    background-color: #F9F9F9;
    border-radius: 8px;
}

.space-image {
    width: 100%;
    height: 202px;
    border-radius: 8px;
    justify-self: center;
}

.day-pass {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}

.location-name {
    width: 60%;
    font-weight: 600 !important;
    color: #263238 !important;
}

.behive-our-space,
.behive-choose-us {
    width: 80%;
    box-sizing: border-box;
    justify-self: center
}